.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}
.order{
    padding-top: 92px;
    padding-bottom: 60px;
   
}
.image-wrap{
    width: 100%;
    height: 171px;
    background-image: url(./images/galery-image1\ 1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.order__tittle {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #487996;
    margin-bottom: 16px;
    margin-top: 0;

}

.order__subtitle {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    color: #487996;
}

.first-subtittle {
    margin-top: 40px;
    margin-bottom: 28px;

}

.other-subtittle {
    margin-top: 0px;
    margin-bottom: 8px;
}

.order__item {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #2B2B2B;
}

.order__list {
    width: 100%;
    margin: 0;
}

.order__item:not(:last-child) {
    margin-bottom: 16px;
}
 .order__btn{
    margin-bottom: 60px;
    min-width: 280px;
        padding: 16px 0;
        background: #F5F5FA;
        box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #FFFFFF;
        border-radius: 30.5px;
        border: none;
        outline: none;
        // background-color: getColor('btn-bg-color');
        font-size: 16;
        line-height: calc(24 / 16);
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #487996;
        // color: getColor('primary-accent-color');
        align-items: center;
        text-align: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        transition: all 0.3s ease;
 }
 
img {
    width: 100%;
}

.connect__choice {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: #2B2B2B;
}

.connect__field {
    margin-bottom: 44px;
    outline: transparent;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #487996;

}

.connect__field:hover , .connect__field:focus{
    border-bottom:1px solid #008CEF;
    
}

.connect__view {
    display: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #487996;
    outline: transparent;
}

.connect__choice:hover .connect__view {
    display: block;
    border: 0;
}

.connect__featback {
    margin-bottom: 4px;
    display: block;
    outline: transparent;
    width: 100%;
    height: 199px;
    resize: none;
    border: 1px solid #487996;
    border-radius: 50px 0px;
}
.connect__featback:hover , .connect__featback:focus{
border:1px solid #008CEF;
}
.connect__featback::placeholder {
    padding: 22px 0px 22px 20px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: #CDCDCD;
}

.connect__footnote {
    width: 280px;
    margin-top: 0;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: #CDCDCD;
}

.contact__list {
    margin-bottom: 24px;
}

.contact__link {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;

    color: #2B2B2B;
}

.email-wrap {
    margin-bottom: 24px;
}

.tel-wrap {
    margin-bottom: 24px;
}

.form-field {
    position: relative;
    margin-bottom: 44px;
}

.connect__name,
.connect__email {
    position: absolute;
}

.connect__message {
    margin-bottom: 4px;
}

.form-select {
    border-bottom: 1px solid #487996;

}

.connect__choice::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #008CEF;


}
