.order {
    // padding-top: 92px;
    padding-bottom: 60px;

    &__tittle {
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 45px;
            text-align: center;
            text-transform: uppercase;
            color: #487996;
            margin-bottom: 16px;
            margin-top: 0;
    
        }
        &__item {
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        
            color: #2B2B2B;
            &:not(:last-child) {
                    margin-bottom: 16px;
                }
                }
        &__list {
            width: 100%;
            margin: 0;
        }
}

.image-wrap {
    width: 100%;
    height: 171px;
    margin-bottom: 16px;
    background-image: url(/images/galery-image1\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}




