.order {
       padding-bottom: 60px;
    @media screen and (min-width: 1440px){
        padding-bottom: 80px;
    }
    &__tittle {
            font-family: "Cera Pro";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 45px;
            text-align: center;
            text-transform: uppercase;
            color: #487996;
            margin-bottom: 16px;
            margin-top: 0;
            @media screen and (min-width: 768px) {
                    text-align: left;
                    font-size: 36px;
                };
    @media screen and (min-width: 1440px){
    text-align: left;
    font-size: 48px;
    };
        }
        &__item {
            font-family: "Cera Pro";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            @media screen and (min-width: 768px){
                font-weight:400;
            }
        @media screen and (min-width: 1440px){
            padding-right: 155px;
            font-size: 18px;
            font-weight: 300;
        }
            color: #2B2B2B;
            &:not(:last-child) {
                    margin-bottom: 16px;
                    @media screen and (min-width: 768px) {
                        margin-bottom: 0;
                    }
                 @media screen and (min-width: 1440px){
                    text-align: left;
                    margin-bottom: 24px;
                   
                 }
                }
                }
        &__list {
            width: 100%;
            margin: 0;
        }
}
// внести изменения
.image-wrap {
    width: 100%;
        height: 171px;
        margin-bottom: 16px;
        background-image: url(/order/images/order-mob-1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(/order/images/order-mob-2x.jpg);
        };
    
    
        @media screen and (min-width: 768px) {
            background-image: url(/order/images/order-tab-1x.jpg);
            margin-bottom: 0;
            margin-right: 32px;
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/order/images/order-tab-2x.jpg);
            };
        };
    
        @media screen and (min-width: 1440px) {
            background-image: url(/order/images/order-desk-1x.jpg);
         min-width: 555px;
            height: 400px;
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: url(/order/images/order-desk-2x.jpg);
            };
        };
    }
.otablet-wrap {
    @media screen and (min-width: 768px){
    display: flex;
align-items: center;
margin-bottom: 40px;};
 @media screen and (min-width: 1440px){
    align-items: start;
    margin-bottom: 100px;
 }
}

.orderpic__block{
    display: none;
    @media screen and (min-width: 1440px){
        display: flex;
        gap: 31px;
        margin-top: 60px;
    };
    
}
.orderpic__car{
    display: none;
    @media screen and (min-width: 1440px){
    display: block;
    width: 203px;
    height: 203px;
    border-radius:  0px 72px 72px 0px ;
    background-image: url(/order/images/orderpic1-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(/order/images/orderpic1-desk-2x.jpg);
        }
}}
.orderpic__table{
    display: none;
    @media screen and (min-width: 1440px){
    display: block;
    width: 203px;
    height: 203px;
    border-radius: 72px 0px;
    background-image: url(/order/images/orderpic2-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/order/images/orderpic2-desk-2x.jpg);
        }
}}
.orderpic__mushroom{
 display: none;
@media screen and (min-width: 1440px){
display: block;
width: 203px;
height: 203px;
border-radius: 0px 0px 72px 0px;
background-image: url(/order/images/orderpic3-desk-1x.jpg);
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/order/images/orderpic3-desk-2x.jpg);
    }
}}
.odescktop-wrap{
    @media screen and (min-width: 1440px){
        display: flex;
        flex-direction: column;
    }
}