.other-subtittle {
    margin-top: 0px;
    margin-bottom: 8px;
    @media screen and (min-width: 1440px){
        text-align: right;
        margin-bottom: 18px;
    }
}

.contact__item{
font-family: 'Cera Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.11;
color: #2B2B2B;
@media screen and (min-width: 1440px) {
        font-size: 18px;;
    }}

.contact__item:not(:last-child){
    margin-bottom: 8px;
@media screen and (min-width: 1440px){
    margin-bottom: 18px;};

}
.contact__link {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;

    color: #2B2B2B;
    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}

.email-wrap {
    margin-bottom: 24px;
    @media screen and (min-width: 1440px) {
            margin-bottom: 30px;
        }
    
        ;
    }

.tel-wrap {
    margin-bottom: 24px;
    @media screen and (min-width: 1440px) {
            margin-bottom: 30px;
        }
}
.time__item{
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2B2B2B;
    @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
}
.time__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 18px;
    };
}
.oconnect_wrap{
    @media screen and (min-width: 768px) {
                   display: flex;
            justify-content: space-between;
        }
    @media screen and (min-width: 1440px){
        text-align: right;
        display: block;
    }
}


.group{
    display: none;
    @media screen and (min-width: 1440px){
        display: block;
        width: 530px;
        height: 325px;

    background-image: url(/order/images/orderpic4-desk-1x.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(/order/images/orderpic4-desk-2x.png);
        }
}}
