.other-subtittle {
    margin-top: 0px;
    margin-bottom: 8px;
}
.contact__list {
    margin-bottom: 24px;
}

.contact__link {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;

    color: #2B2B2B;
}

.email-wrap {
    margin-bottom: 24px;
}

.tel-wrap {
    margin-bottom: 24px;
}
.time__item{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2B2B2B;
}