.other-subtittle {
    margin-top: 0px;
    margin-bottom: 8px;
    @media screen and (min-width: 1440px){
        text-align: right;
    }
}
.contact__list {
    margin-bottom: 24px;
}

.contact__link {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;

    color: #2B2B2B;
}

.email-wrap {
    margin-bottom: 24px;
    }

.tel-wrap {
    margin-bottom: 24px;
}
.time__item{
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2B2B2B;
}
.oconnect_wrap{
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    @media screen and (min-width: 1440px){
        text-align: right;
        display: block;
    }
}


.group{
    display: none;
    @media screen and (min-width: 1440px){
        display: block;
        width: 530px;
        height: 325px;

    background-image: url(/order/images/orderpic4-desk-1x.png);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: url(/order/images/orderpic4-desk-2x.png);
        }
}}
